<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>



     <h1>Hello... Here you can find lcm of 2 Numbers..!</h1>
      <form class="" action="/lcm" >


     Enter First_Number : <input type="text" name="first" value="" placeholder="Enter First_number"><br> <br>
     Enter Second_Number : <input type="text" name="second" value="" placeholder="Enter Second_number"> <br><br>
      <input type="submit" name="" value="Get The Results">
  </form>

  </body>
</html>
